<section class="progressBar" id="progressBar" *ngIf="showProgressBar">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</section>

<!-- loader -->

<div class="container">
  <form (ngSubmit)="submitImageForm()" enctype="multipart/form-data">
    <div class="form-group form-row">
      <h1>
        <label>Select an Image </label>
      </h1>
      <br />
      <!-- <input hidden type="file" id="image" accept="image/x-png,image/jpeg,image/jpg,image/nii" #btnUpload
        (change)="onImageSelect($event)" /> -->
      <input hidden type="file" id="image" #btnUpload (change)="onImageSelect($event)" />
      <button style="margin-right: 10%;" mat-raised-button (click)="btnUpload.click()">Upload</button>

      <input hidden #submitUploaderForm type="submit" class="btn btn-primary" />
      <button mat-raised-button color="primary" (click)="submitUploaderForm.click()">Submit</button>
    </div>
  </form>
  <br /><br /><br />
  <h1>Orignal image</h1>
  <img [src]="imageFile.imageURL" height="200" *ngIf="imageFile" />
  <br /><br /><br />
  <h1>Extracted image</h1>
  <img [src]="extractedImageBase64" height="200" *ngIf="extractedImageBase64" />
  <br /><br /><br />
  <h1>Enhanced image</h1>
  <img [src]="enhancedImageBase64" height="200" *ngIf="enhancedImageBase64" />
</div>
<br /><br /><br />