<h1 style="text-align: center;"><b>Contact US</b></h1>
<form class="contact" [formGroup]="form" method="post" (ngSubmit)="onSubmit()" style="align-content: center;">
    <mat-form-field >
      <label style="font-size: large;"><b>Name</b></label>
      <input matInput [formControl]="name" required>
      <mat-error *ngIf="name.invalid">Please enter your name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <label style="font-size: large;"><b>Email</b></label>
      <input matInput [formControl]="email" placeholder="email@example.com" required>
      <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <label style="font-size: large;"><b>Message</b></label>
      <textarea matInput [formControl]="message" maxlength="256" placeholder="I'm interested in..." required style='height: 70px; width: 300px;'></textarea>
      <mat-hint > {{message.value?.length || 0}}/256</mat-hint>
      <mat-error *ngIf="message.invalid">Please enter a message</mat-error>
    </mat-form-field>
    <button [disabled]="isLoading" class="submit" type="submit" style="font: large;"><b>Submit</b></button>
    <input [formControl]="honeypot" class="hidden" type="text" />
    <div [ngClass]="!submitted? 'hidden' : 'visible'" class="center-text">
      <span>{{responseMessage}}</span>
    </div>
  </form>