.main-content {
    margin: 50px;
}

.ludwig {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid purple;
    font-family: 'Roboto', serif;
    font-size: 2.4em;
    line-height: 1.5em;
    font-weight: 100;
}

.ludwig:before,
.ludwig:after {
    content: '\201C';
    font-family: 'Sanchez';
    color: purple;
}

.ludwig:after {
    content: '\201D';
}

.introSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.introSection .introContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introSection .introImage img {
    display: flex;
    border-radius: 10px;
}


/* stages */


/* stages */


/* team */

.teamSection {
    margin: 20px;
}

a {
    text-decoration: none;
    color: white;
}

#team {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    font-size: xx-large;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 20px;
}

.heading i {
    background-color: purple;
    box-shadow: 2px 2px 2px lightskyblue;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    border-radius: 50%;
}

.box {
    width: 266px;
    height: 340px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.teamContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.top-bar {
    width: 50%;
    height: 4px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: blueviolet;
    border-radius: 10px;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}

.details img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.details strong {
    font-weight: 500;
    color: blueviolet;
    letter-spacing: 1px;
    margin-top: 10px;
}

.details p {
    font-size: 0.9rem;
    color: purple;
    margin: 15px 0;
}

.btn {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* team */