
.main-content {
  margin: 50px;
}

.mat-subheading-2 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

.mat-body-1 {
  text-align: center;
  align-items: center;
  padding-top: 20px;
  font-size: 34px;
}

.content {
  margin-top: 20px;
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

mat-card {
  margin-bottom: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.portfolio-item-wrapper {
  position: relative;
}
.portfolio-img-background > img {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-text-wrapper {
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}

.img-text-wrapper:hover .subtitle {
  color: white;
  font-weight: bolder;
}

.img-text-wrapper .subtitle {
  font-weight: 600;
  transition: 1s;
  color: transparent;
}

.img-darken {
  transition: 1s;
  filter: brightness(10%);
}
