
mat-toolbar {
  font-family: 'Roboto', sans-serif;
}

.nav-link-wrapper {
    font-size: .9em;
    text-transform: uppercase;
    font-weight: bolder;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
    align-items: center;
    display: flex;
    margin: 20px;
}
.nav-link-wrapper a {
  color: whitesmoke;
  text-decoration: none;
  transition: color 0.5s;
}
.nav-link-wrapper:hover {
  border-bottom: 1px solid plum;
}
button {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: large;
}

mat-sidenav {
  width: 250px;
}

main {
  padding: 10px;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}