<div class="medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title"><b>Register</b></div>
  
      <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onRegisterSubmit()" novalidate>
        <div class="form-container">
          <mat-form-field>
            <label style="margin-right: 5px; font-size: large;"><b>Name:</b></label>
            <input id="name"
                   matInput
                   formControlName="name"
                   [(ngModel)]="user.name"
                   placeholder="Enter your name"  style="height: 30px; width: 250px;"/>
          </mat-form-field>
  
          <mat-form-field>
            <label style="margin-right: 5px; font-size: large;"><b>Email:</b></label>
              <input id="email"
                     matInput
                     formControlName="email"
                     [(ngModel)]="user.email"
                     placeholder="Enter your email"  style="height: 30px; width: 250px;"/>
            </mat-form-field>
  
          <mat-form-field>
            <label style="margin-right: 5px; font-size: large;"><b>Password:</b></label>
              <input id="password"
                     matInput
                     formControlName="password"
                     [(ngModel)]="user.password"
                     placeholder="Enter your password"
                     [type]="hide ? 'password':'text'" style="height: 30px; width: 250px;" />
                <mat-icon matSuffix (click)="hide = !hide">
                  {{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>
            </mat-form-field>
  
            <button mat-button type="submit" 
                    class="mat-raised-button mat-primary" 
                    [disabled]="!registerForm.valid">Register</button>
            <button mat-button routerLink="/login" class="divider">Login</button>
        </div>
      </form>
    </div>
  </div>
