<h2><b>Instructions To Upload Image</b></h2>
<div class="container" style="font-size: 15px">
  <ul>
    <li>Image will be fMRI or MRI.</li>
    <li>Image size will be only 25MB.</li>
    <li>Image must be clear.</li>
    <li>You can upload image and see the results of Alzeimer's Disease.</li>
  </ul>
</div>
<img
  class="img-responsive"
  src="assets/images/thinkpng.jpg"
  style="height: 300"
  width="500"
/>

<div class="container">
  <span style="color: red" *ngIf="message">{{ message }}</span>
  <input
    #file
    type="file"
    accept="image/*"
    (change)="preview(file.files)"
    style="font-size: 20px"
  />
  <br />
  <br />
</div>
<img [src]="imgURLs" height="200" *ngIf="imgURLs" />

<p>{{ imgURLs }}</p>
<button mat-button routerLink="/report">Check this</button>
<br />
<input type="file" name="image" (change)="onFileSelect($event)" />
<button type="button" (click)="onUpload()">Send to server</button>
