<h2><b>Instructions To Upload Image</b></h2>
<div class="container" style="font-size: 15px">
  <ul>
    <li>Image will be fMRI or MRI.</li>
    <li>Image size will be only 25MB.</li>
    <li>Image must be clear.</li>
    <li>You can upload image and see the results of Alzeimer's Disease.</li>
  </ul>
</div>
<img
  class="img-responsive"
  src="assets/images/thinkpng.jpg"
  style="height: 300"
  width="500"
/>

<!-- 
<div class="container">
  <span style="color: red" *ngIf="message">{{ message }}</span>
  <input
    #file
    type="file"
    accept="image/*"
    (change)="preview(file.files)"
    style="font-size: 20px"
  />
  <br />
  <br />
  <img [src]="imgURLs" height="200" *ngIf="imgURLs" />
</div>

<p>{{ imgURLs }}</p>
<button mat-button routerLink="/report">Check this</button>
<br />
<input type="file" name="image" (change)="onFileSelect($event)" />
<button type="button" (click)="onUpload()">Send to server</button> -->
<br /><br /><br />

<div class="container">
  <form
    [formGroup]="ImageForm"
    (ngSubmit)="submitImageForm()"
    enctype="multipart/form-data"
  >
    <div class="form-group form-row">
      <label><b>Image</b></label>
      <br />
      <input
        class="form-control"
        formControlName="file"
        type="file"
        id="image"
        accept="image/*"
        (change)="onImageSelect($event)"
      />
    </div>

    <div class="form-group form-row">
      <!-- <label>select an image</label> -->
      <input class="btn btn-dark" style="color: white" type="submit" />
    </div>
  </form>
</div>

<div class="container">
  <br /><br /><br />
  <h1>Orignal image</h1>
  <img
    [src]="imageFile.imageURL"
    style="height: 300px; width: 300px"
    *ngIf="imageFile.imageURL"
  />
  <br /><br /><br />
  <h1>Extracted image</h1>
  <img
    [src]="extractedImageBase64"
    style="height: 300px; width: 300px"
    *ngIf="extractedImageBase64"
  />
  <br /><br /><br />
  <h1>Enhanced image</h1>
  <img
    [src]="enhancedImageBase64"
    style="height: 300px; width: 300px"
    *ngIf="enhancedImageBase64"
  />
</div>
<br /><br /><br />
