<h2><b>Instructions To Upload Image</b></h2>
<div class="container" style="font-size: 15px">
  <ul>
    <li>Image will be fMRI or MRI.</li>
    <li>Image size will be only 25MB.</li>
    <li>Image must be clear.</li>
    <li>You can upload image and see the results of Alzeimer's Disease.</li>
  </ul>
</div>
<img
  class="img-responsive"
  src="assets/images/thinkpng.jpg"
  style="height: 300"
  width="500"
/>

<br /><br /><br />
a gya haha
<div class="container">
  <form
    [formGroup]="ImageForm"
    (ngSubmit)="submitImageForm()"
    enctype="multipart/form-data"
  >
    <div class="form-group form-row">
      <label>select an image </label>
      <br />
      <input
        type="file"
        id="image"
        formControlName="image"
        accept="image/*"
        (change)="onImageSelect($event)"
      />
    </div>

    <div class="form-group form-row">
      <!-- <label>select an image</label> -->
      <input type="submit" class="btn btn-primary" />
    </div>
  </form>
</div>

<div class="container">
  <br /><br /><br />
  <h1>Orignal image</h1>
  <img [src]="imageFile.imageURL" height="200" *ngIf="imageFile.imageURL" />
  <br /><br /><br />
  <h1>Extracted image</h1>
  <img [src]="extractedImageBase64" height="200" *ngIf="extractedImageBase64" />
</div>
<br /><br /><br />
