<div class="login-page">
  <mat-tab-group color="accent">
    <mat-tab label="Login">
      <div class="formSpace">
        <form (ngSubmit)="loginFormSubmit()">
          <mat-form-field color="accent" style="display: block">
            <input
              matInput
              placeholder="Username"
              type="text"
              required
              name="username"
              [(ngModel)]="loginUserData.username"
              #username="ngModel"
            />
            <mat-error *ngIf="username.errors && username.errors.required">
              Username is required
            </mat-error>

            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field color="accent" style="display: block">
            <input
              matInput
              placeholder="Password"
              [type]="hide ? 'password' : 'text'"
              required
              minlength="2"
              name="password"
              [(ngModel)]="loginUserData.password"
              #password="ngModel"
            />
            <mat-error *ngIf="password.errors && password.errors.required">
              Password is required
            </mat-error>
            <mat-error *ngIf="password.errors && password.errors.minlength">
              Password must be of length 6
            </mat-error>
            <!-- 
            <button
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button> -->

            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>

          <!-- <mat-checkbox>Remember Me!</mat-checkbox> -->

          <div align="end">
            <button
              mat-raised-button
              color="accent"
              class="login-button"
              (click)="btnLoginClick()"
            >
              Login
            </button>
          </div>
          <br />
          <!-- <button mat-raised-button class="login-button">
            Login with Google
          </button> -->
        </form>
      </div>
    </mat-tab>
    <mat-tab label="Register">
      <div class="formSpace">
        <form (ngSubmit)="registerFormSubmit()">
          <mat-form-field color="accent" style="display: block">
            <input
              matInput
              placeholder="Username"
              type="text"
              required
              name="username"
              [(ngModel)]="registerUserData.username"
              #username="ngModel"
            />
            <mat-error *ngIf="username.errors && username.errors.required">
              Username is required
            </mat-error>

            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field color="accent" style="display: block">
            <input
              matInput
              placeholder="Password"
              type="password"
              required
              minlength="2"
              name="password"
              [(ngModel)]="registerUserData.password"
              #password="ngModel"
            />
            <mat-error *ngIf="password.errors && password.errors.required">
              Password is required
            </mat-error>
            <mat-error *ngIf="password.errors && password.errors.minlength">
              Password must be of length 6
            </mat-error>
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>

          <mat-form-field color="accent" style="display: block">
            <input
              matInput
              placeholder="cPassword"
              type="password"
              required
              minlength="2"
              name="cPassword"
              [(ngModel)]="registerUserData.cPassword"
              #cPassword="ngModel"
            />
            <mat-error *ngIf="cPassword.errors && cPassword.errors.required">
              Password is required
            </mat-error>
            <mat-error *ngIf="cPassword.errors && cPassword.errors.minlength">
              Password must be of length 6
            </mat-error>
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>

          <div align="end">
            <button
              mat-raised-button
              color="accent"
              class="login-button"
              (click)="btnRegisterClick()"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
